<%- include ("./partials/header") %>

<!-- user details -->
<div class="user-data">
  <div class="user-msg">                Hi, <%= name %> </div>
  <div class="email hidden" id="email"> <%= email%>     </div>
</div>

<br>
<div class="" id="fund-container">
  <div id="funds"></div>
  <button onclick="hideFund()">Hide</button>
</div>
<button onclick="showFund()" id="fund-button">Funds</button>
</div>

<br>
<!-- company header -->
<div class="head" id="company-name">
  <%= company %>
</div>

<br>

<!-- error message -->
<div class="error" class="hidden" id="error-message"></div>

<br>

<!-- company details -->
<div class="card">
  <div id="name"></div>
  <div id="code"></div>
  <div id="value"></div>
  <div id="stake"></div>
</div>


<br>

<!-- Button for adding/removing fav -->
<div class="button" id="btn"></div>

<br>

<!-- Navigation area -->
<div class="nav">
  <div class="button" id="browse">    Browse    </div>
  <div class="button" id="holdings">  Holdings  </div>
  <div class="button" id="fav">       Favorites </div>
</div>

<br>

<!-- Connect to socket data for graph -->
<div class="" id="socket-btn"></div>

<!-- buy from -->
<div class="buy-form hidden">
  <div class="buy-form hidden">
    <label for="">Converter</label>
    <br>
    <label for="stake-converter-input">Stake %</label>
    <input type="number" name="stake" id="stake-converter-input" min="0" max="100" step="any">
    <label for="value-converter-input">Valuation</label>
    <input type="number" name="price" id="value-converter-input"min="0" step="any">
  </div>
  <label for="stake">Stake</label>
  <input type="number" name="stake" min="0" step="any" value="0" id="stake-input">
  <button type="button" name="confirm" id="confirm-button">Confirm</button>

</div>
<button type="button" name="buy" id="buy-button">Proceed to Buy</button>
<br>

<!-- Chart canvas -->
<div class="" id="chart-container">
  <canvas id="chart" width="300" height="300"></canvas>
  <select class="" id="graph-type">
    <option value="line">Line</option>
    <option value="bar">Bar</option>
  </select>
</div>
<br>

<!-- logout button -->
<form action = "/logout?_method=DELETE" method="POST">
  <button type="submit" name="button">Log Out</button>
</form>

<!-- use company_footer -->
<%- include ("./partials/company_footer") %>
